<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">
      FILMES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides scrollbar mode="ios">
    <ion-slide>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tzFAboMUGJKoPQEtlxfxbbYsSWa.jpg">
      <h1>Minions 2</h1>
    </ion-slide>

    <ion-slide>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tzFAboMUGJKoPQEtlxfxbbYsSWa.jpg">
      <h1>Minions 2</h1>
    </ion-slide>

    <ion-slide>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tzFAboMUGJKoPQEtlxfxbbYsSWa.jpg">
      <h1>Minions 2</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
